

.teamcityTitle {
	font-weight: bold;
	font-size: 12px;
}


.teamcityBadge {
	border: 1px solid #999; 
    /*
    left: -4.8em; 
    position: absolute; 
    top: 0;
    
    */
    line-height: 1; 
	float:right;
    
}

.teamcityBadgeOK { 
    background-color: #2358B8; 
    font-size: 1.2em; 
    padding: 0.3em 0; 
    margin-top: 0.3em;
    float:right;
}

.teamcityERROR {
	color: red;
}

.teamcitySUCCESS {
	color: green;
	
}

.teamcityWARNING {
	color: orange;
	
}
.teamcityNOTICE {
	color: yellow;
}
.teamcityNEVERBUILT {
	color: gray;
}

